<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script th:inline="javascript">

        var cartItems = [];

        function addToCart(button) {
            var id = button.getAttribute('data-id');
            var name = button.getAttribute('data-name');
            var price = button.getAttribute('data-price');

            fetch('/addToCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    id: id,
                    name: name,
                    price: price
                }),
            })
                .then(response => response.json())
                .then(data => {
                    cartItems = data;
                    updateCart();
                })
                .catch(error => console.error('Error:', error));
        }

        function updateCart() {
            var cartItemsContainer = document.querySelector('.cart-items');
            var totalPriceContainer = document.querySelector('.total-price');
            var cartHTML = '';
            var totalPrice = 0;

            for (var i = 0; i < cartItems.length; i++) {
                cartHTML += '<div class="cart-item">' + cartItems[i].name + ' ' + cartItems[i].price + '</div>';
                totalPrice += cartItems[i].price;
            }

            cartItemsContainer.innerHTML = cartHTML;
            totalPriceContainer.innerHTML = 'Общая цена: ' + totalPrice + ' рублей';
        }
    </script>
    <style>
        .tovar {
            float: left;
            width: 10%;
            height: 100px;
            margin: 10px;
            text-align: center;
        }

        .korz {
            float: right;
            margin: 100px;
        }
    </style>
    <title>Интернет-магазин</title>
</head>
<body>
<h1><center>Добро пожаловать в наш интернет-магазин!</center></h1>
<div class="korz">
    <h2>Корзина:</h2>
    <ul id="cart-items">
    </ul>
    <p id="all-price">Общая цена: 0₽</p>
</div>
<div th:each="product : ${products}">
    <div class="tovar">
        <a th:href="@{'/product/' + ${product.id}}">
            <div th:text="${product.name}"></div>
        </a>
        <div th:text="${product.price} + ' рублей'"></div>
        <button th:attr="data-id=${product.id}, data-name=${product.name}, data-price=${product.price}" onclick="addToCart(this)">Добавить в корзину</button>
    </div>
</div>

</body>
</html>