<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <style>
        .tovar {
            float: left;
            width: 10%;
            height: 100px;
            margin: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<h1><center>Добро пожаловать в наш интернет-магазин!</center></h1>
<div class="tovar">
    <img src="https://upload.wikimedia.org/wikipedia/ru/3/39/Java_logo.svg" width="200" height="200" alt="Товар 1">
    <h3>Java Курсы</h3>
    <p>Цена: 1000р</p>
</div>
<div class="tovar">
    <img src="https://c0.klipartz.com/pngpicture/826/162/gratis-png-desarrollo-de-sitios-web-javascript-html5-hojas-de-estilo-en-cascada-css3-logotipo-html-thumbnail.png" width="200" height="200" alt="Товар 2">
    <h3>HTML/CSS/JS Курсы</h3>
    <p>Цена: 1500р</p>
</div>
<div class="tovar">
    <img src="https://e7.pngegg.com/pngimages/520/669/png-clipart-c-logo-c-programming-language-computer-icons-computer-programming-programming-miscellaneous-blue.png" width="200" height="200" alt="Товар 3">
    <h3>С++/C# Курсы</h3>
    <p>Цена: 5000р</p>
</div>
<div class="tovar">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/1C_Company_logo.svg/2560px-1C_Company_logo.svg.png" width="200" height="200" alt="Товар 4">
    <h3>1C Курсы</h3>
    <p>Цена: 10000р</p>
</div>
</body>
</html>